.navbar {

  background: #ff6956;

  .acme-navbar-text{
    color: white;
  }

  a {
    color: black;
  }

  .md-button {
    min-width: 65px;
  }

  h1 {
    font-size: 2em;
    margin: 0;
    line-height: 1.25em;
  }

  .md-button {
    text-transform: initial;
  }
}

