<div class="main-view" layout="vertical" layout-fill ng-cloak>
  <!-- Main content -->
  <md-content class="main-content {{vm.classAnimation}}">
    <header md-scroll-shrink>
      <acme-navbar show-title="{{vm.selectedTitle}}"></acme-navbar>
    </header>

    <div class="techs" layout-align="center" ng-repeat="item in vm.newsData" ng-click="vm.toggleGroup(item)" ng-class="{active: vm.isGroupShown(item)}">
      <md-card class="card-title">
        <img ng-src="http://placehold.it/150x150" class="circle-image" alt="avatar">
        <div class="card-title-text">
            {{item.title | capitalize}}
        </div>
      </md-card>
      <md-card class="card-content" ng-show="vm.isGroupShown(item)">
        <img ng-src="{{item.image}}" alt="news image">
        <md-card-content>
          <h2>{{item.title}}</h2>
          <p>
            {{item.content}}
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
  <!-- /Main content -->
</div>
